.SearchResults {
  margin: 1rem;
  padding: 1rem;
  background: #fff;
  box-shadow: rgb(23 32 38 / 7%) 0px 1px 1px 0px,
    rgb(23 32 38 / 6%) 0px 2px 1px -1px, rgb(23 32 38 / 10%) 0px 1px 3px 0px;
  width: 50%;
  height: 60vh;
  overflow-y: scroll;
}

.SearchResults span {
  color: rgb(101, 41, 243);
}

.SearchResults .movies-container {
  margin: 1rem;
}

.SearchResults .movies-container p {
  margin: 0;
}

.SearchResults .movie-container {
  display: flex;
  width: 100%;
  padding: 0.5rem 0rem;
  border-bottom: 1px solid rgb(206, 206, 206);
  max-height: 170px;
  height: 20vw;
  min-height: 110px;
}

.SearchResults .image-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchResults .image-container img {
  max-width: 100px;
  border-radius: 0.5rem;
}

.SearchResults .movie-details-container {
  width: 70%;
}

.SearchResults .movie-details-container form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.SearchResults .nominate-button-container {
  display: flex;
  align-items: flex;
  justify-content: center;
}

.SearchResults .nominate-button-container button {
  width: 10rem;
  height: 2.3rem;
  font-size: 1rem;
  background: rgb(101, 41, 243);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.SearchResults .nominate-button-container p {
  color: rgb(101, 41, 243);
  font-size: 1rem;
  line-height: 2.3rem;
  font-weight: bold;
}

.SearchResults #disable-button {
  background: rgb(95, 95, 95);
  cursor: default;
}

.SearchResults .no-results {
  text-align: center;
  padding: 3rem;
}

.SearchResults .loading {
  font-size: 1.5rem;
}

.SearchResults .loading-container {
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1000px) {
  .SearchResults img {
    width: 10vw;
  }
}

@media (max-width: 695px) {
  .SearchResults {
    width: 100%;
  }
  .SearchResults img {
    width: 12vw;
  }
}

@media (max-width: 400px) {
  .SearchResults img {
    width: 18vw;
  }
}
