.HomePage {
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HomePage .SearchBar {
  width: 80%;
  margin: 1rem;
}

.HomePage .title {
  margin: 0rem 1rem;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  height: 10vh;
}

.HomePage span {
  color: rgb(101, 41, 243);
}

@media screen and (max-width: 1000px) {
  .HomePage .title {
    font-size: 11.5vw;
  }
}
