.ResultsPage {
  max-width: 1000px;
  margin: auto;
  padding-top: 3rem;
}

.ResultsPage .title {
  margin: 0rem 1rem;
  font-size: 5rem;
  padding: 2rem 0;
  font-weight: bold;
  text-align: center;
  height: 10vh;
}

.ResultsPage span {
  color: rgb(101, 41, 243);
}

.ResultsPage .results-container {
  display: flex;
}

@media (max-width: 640px) {
  .ResultsPage .title {
    font-size: 11.5vw;
  }
}
